<div>
    <h2 style="color: antiquewhite;">Hello, <span style="text-decoration: solid; color: aqua;"> {{username}}</span>  here you found models of Vmware station that you can add to your Vmware list </h2>

</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Ram</th>
            <th>Cpu</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody >

   @for (nevm of newlist; track nevm) {
        <tr>
            <td>{{nevm.path}}</td>

           <td>{{nevm.memory}}</td>
           <td>{{nevm.cpu}}</td>
           <td><button (click)="onClickClone(nevm.id)">Clone</button></td>


       </tr>
   } 
        
    </tbody>
</table>
@if (showWait) {
    <img src="/wait.gif" style="display:block; margin-left: auto; margin-right: auto;" >
    } 
    @else {
    <img src="/wait.gif" style="display:none;" />
    }

