<p>machines works!</p>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>CPU</th>
        <th>RAM</th>
        <th>IP</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Clone</th>
    </tr>
    @for (vm of listVm; track vm) {
        <tr>
            <td>{{vm.id}}</td>
            <td>{{vm.name}}</td>
            <td><input value={{vm.cpu}} disabled="edition[vm.id]"></td>
            <td><input value={{vm.memory}} disabled="edition[vm.id]"></td>
            <td>{{vm.ip}}</td>
            <td><button  (click)="onClickEdit(vm.id)">Edit</button></td>
            <td><button  (click)="onClickDelete(vm.id)">Delete</button></td>
            <td><button (click)="onClickClone(vm.id)">Cloner</button></td>
        </tr>
    }
</table>
@if (showWait) {
    <img src="/wait.gif" style="display:block; margin-left: auto; margin-right: auto;" >
    } 
    @else {
    <img src="/wait.gif" style="display:none;" />
    }
