<div class="font-monospace ">
    <h2 class="  fst-italic fw-bold ">Welcome the ultimate solution for seamless cloud-based management. </h2>
    <p class=" text-center fs-5 fst-italic">
    Whether you're streamlining workflows, enhancing collaboration, or accessing powerful tools on the go, we've got you covered. 
    Our user-friendly interface and robust features are designed to boost your productivity and simplify your processes. 
    Dive in to explore a world where efficiency meets innovation, all from the comfort of your browser. 
    Start your journey with us today and experience the future of cloud computing!

    </p>
   
</div><div class="row justify-content-evenly mt-5">
    <div class="col-md-3 mb-5">
        <div class="card" style="width: 18rem">
            <img src="/centos.webp" class="card-img-top" alt="..." />
            <div class="card-body bg-dark">
                <h5 class="card-title">AMERICA</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make up
                    the bulk of the card's content.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-5">
        <div class="card" style="width: 18rem">
            <img src="/ubuntu.png" class="card-img-top" alt="..." />
            <div class="card-body bg-dark">
                <h5 class="card-title">ASIA</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make up
                    the bulk of the card's content.
                </p>
            </div>
        </div>
    </div>
    
</div>


